.wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
.link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  background-color: aliceblue;
  color: #00dbde;
}
.link.active {
  color: red;
  background-color: transparent;
}
