.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
  margin: 30px auto;
  color: rgba(59, 50, 57, 1);
}

h1 {
  position: relative;
  margin: auto;
  margin-bottom: 15px;
  font-size: 3em;
  word-spacing: 0.2em;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  color: transparent;
  background-clip: text;
  background-color: #21d5fdbb;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

@keyframes shine {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -190% 0;
  }
}

.thumb {
  margin: 0 auto;
  width: 400px;
}

.images {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 50px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(8, 101, 233, 0);
}
.button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Times New Roman', serif;
  cursor: pointer;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  line-height: 42px;
  padding: 0;
  border: none;
  color: aliceblue;
  background-color: #21d5fdbb;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.button:hover,
.button:focus {
  background-color: #ff9a8b;
  background-image: linear-gradient(
    90deg,
    #faaca0 0%,
    #ff6a88 55%,
    #ff99ac 100%
  );
}

@media screen and(max-width: 500px) {
  .container {
    margin: 10px auto;
  }
  .thumb {
    width: 300px;
  }
}
